{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
  <script src="{% static 'scripts/main.js' %}" defer></script>
  <title>{% block title %}{% endblock %} | Cool Shop</title>
</head>

<body>
  <nav class="navbar is-dark">
    <div class="navbar-brand">
      <a href="/" class="navbar-item"><strong>Coolshop</strong></a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="main-navbar">
      <div class="navbar-start">
        <div class="navbar-item">
          <form action="{% url 'search' %}" method="GET">
            <div class="field has-addons">
              <div class="control">
                <input type="text" class="input" placeholder="Search..." name="query">
              </div>
              <div class="control">
                <button class="button is-dark is-uppercase">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Categories
          </a>
          <div class="navbar-dropdown">
            {% for category in menu_categories %}
            <a href="{% url 'category' category.slug %}" class="navbar-item">
              {{ category.title }}
            </a>
            <hr class="navbar-divider">
            {% endfor %}
          </div>
        </div>
        {#<a  class="navbar-item">{{ category.title }}</a>#}

        <a class="navbar-item" href="{% url 'contact' %}">Contact</a>

        <div class="navbar-item">
          <a href="{% url 'cart' %}" class="button is-dark">Cart {% if cart %} ({{ cart|length }}) {% else %} ({{ 0 }}) {% endif %}</a>
        </div>
      </div>
    </div>
  </nav>
  <section class="section">
    <div class="container">{% block content %} {% endblock %}</div>
  </section>
  <footer class="footer is-dark">
    <div class="content">
      <h3 class="is-size-4 mb-4">Cool Shop</h3>
      <p>
        {% if request.user.is_authenticated %}
        <a href="{% url 'vendor_admin' %}">Vendor admin</a>
        {% else %}
        <a href="{% url 'become_vendor' %}">Become vendor</a>
        {% endif %}
        <br>
        <a href="{% url 'vendors' %}">Our vendors</a>
      </p>
    </div>
  </footer>

  {% block scripts %}
  {% endblock %}
</body>

</html>